/*
    ps - player settings
*/
#screen{
    display: block;
    margin: 0 auto;
    background: gray;
}
#youtube{
    position: relative;
    width: 600px;
    margin: 0 auto;
}
#youtube iframe{
    width: inherit;
    height: inherit;
}
#youtube div{
    cursor: pointer;
}
.ps-label{
    display: inline-block;
    width: 100px;
}
.settings{
    display: inline-block;
    vertical-align: top;
    width: 31%;
}
.popup{
    cursor: move;
}
#audioPlayer{
    margin: 10px 0;
}