body{
    margin: 35px 25px;
    background-color: #b8b8b8;
}

h1{
    background-color: #330a38;
    color: white;
    padding: 20px 30px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.top-menu{
    background-color: #330a38;
    color: white;
    padding: 20px 30px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size:15px;
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
.annotation-text{
    border: 0;
    padding: 0 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
input[type="text"] {
    width: 50px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.clear{
    clear:both;
}

.body-bl{
    background-color: #dfdddd;
    padding: 15px 30px;
    min-height: 440px;
    overflow: auto;
}
.result-bl {
    float: right;
}
#editableScreen,
#resultScreen{
    position: relative;
    display: block;
    width: 480px;
    height: 360px;
}
#resultScreen{
    margin-top: 15px;
    display: none;
    background: url("../img/videoFileLoader.gif") -5px -85px no-repeat;
    background-size: 500px 500px;
}
.step,
.step-question {
    position: relative;
    margin-bottom: 10px;
    padding: 0 15px;
    border: 1px solid #d4ced3;
    background-color: #f2f1f1;
}
.step-question {
    padding-top: 10px;
    padding-bottom: 10px;
}
.step-first{
    padding: 15px;
}
.step-first .btn-green{
    position: absolute;
    right: 10px;
    top: 9px;
}
.left-column{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    min-width: 500px;
}
.step-second{
    padding-top: 10px;
    padding-bottom: 15px;
}
.step-second .label-header{
    display: block;
    margin-bottom: 10px;
}
.step-second .label-column{
    width: 70px;
}

.step-three .label-column{
    width: 165px;
}
.step-three,
.step-fourth{
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.step-fifth{
    padding: 0;
}
.step-fifth .btn-gray{
    margin-left: -5px;
}
.step-profiles-status,
.step-add-profile,
.step-profile,
.step-login{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.step-profiles-status .btn-green,
.step-add-profile .btn-green,
.step-profile .btn-green,
.step-login .btn-green{
    position: absolute;
    right: 0;
    bottom: 0;
}
#resultCode{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    margin-bottom: -4px;
}
#videoUrl{
    position: absolute;
    color: #343434;
    border: 0;
    height: 30px;
    top: 10px;
    left: 140px;
    padding-left: 10px;
    width: 58%;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.label-column{
    vertical-align: top;
    display: inline-block;
    width: 120px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.label-header{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #330a38;
}
.label-time{
    display: inline-block;
    margin-right: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.label-answer{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.column{
    display: inline-block;
    width: 20%;
    margin: -5px 0;
}
.tooltip {
    position: relative;
    top: -5px;
    left: 3px;
    border: 1px solid #330a38;
    border-radius: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 8px;
    font-weight: 600;
    background: white;
    padding: 0 3px;
}
.btn-green,
.btn-gray{
    border: 0;
    height: 32px;
    padding: 0 15px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.btn-green{
    background-color: #9ec32e;
    color: white;
}
.btn-green:hover{
    background-color: #90b22a;
}
.btn-gray{
    background-color: #f2f1f1;
    /*border: 1px solid #cadb95;*/
    color: #9abe2c;
}
.btn-gray:hover{
    border-color: #e6e6e6;
    background-color: #e6e6e6;
}
.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-right .btn-green{
    margin-left: -5px;
}
.setting-row{
    margin: 5px 0;
}
#yesAudio,
#noAudio{
    position: relative;
    top: 1px;
}
.audio-note{
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.audio-settings{
    margin-top: 5px;
}
.annotation-text{
    width: 70%;
}
.label-result{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}
#audioFile{
    display: none;
}

.btn{
    display: inline-block;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 0 15px 3px 10px;
    cursor:pointer;
}

#btn-upload,
#btn-snippet,
#btn-create-user,
#btn-cabinet,
#btn-reload,
#btn-logout{
    float: right;
}
#btn-upload,
#btn-create-user,
#btn-cabinet,
#btn-reload{
    margin-right: 15px;
}
#btn-upload{
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    /*padding: 3px 15px 2px 10px;*/
}
#audioFileLoader{
    display: none;
    margin-top: 5px;
    width: 208px;
    height: 13px;
    background: url("../img/audioFileLoader.gif") -6px -3px;
}
.setting-row .color{
    color: transparent !important;
    cursor: pointer;
}
.annotation-action-bl{
    position: relative;
    bottom: -15px;
}
#user-name{
    width: 169px;
}
.profiles-column{
    display: inline-block;
    width: 200px;
}
[id^=ps-author],
[id^=ps-super]{
    display: none;
}

[id^=ps-author]:checked + label,
[id^=ps-super]:checked + label{
    background: #9ec32e;
    color: white;
}
.profile-delete{
    margin-left: 100px;
}
#upload-by-slug{
    position: relative;
    display: inline-block;
    float: right;
}
#upload-by-slug > input{
    position: relative;
    height: 25px;
    width: 70px;
    font-size:15px;
    /*top: -1px;*/
}