.settings-bl,
.result-bl {
    display: inline-block;
    width: calc(50% - 2px);
    vertical-align: top;
}

#editableScreen,
#resultScreen{
    position: relative;
    display: block;
    width: 480px;
    margin: 0 auto;
}

.step {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid blue;
}
#videoUrl {
    width: 400px;
}
.label-column{
    display: inline-block;
    width: 170px;
}
.next-step{
    float: right;
}
.annotation{
    text-align: center;
}
.tooltip {
    position: relative;
    top: -5px;
    left: 3px;
    border: 1px solid #000000;
    border-radius: 50%;
    font-size: 10px;
    background: yellow;
    padding: 0 3px;
}